#video-list .panel-body {
    padding-left: 0px;
}

.video-image-mask {
     width: 150px;
     height: 100px;
     overflow: hidden;
}

.video-image-mask .video-image {
    width: 105%;
}

.video-title {
    font-weight: bold !important;
    font-size: 18px !important;
}

.video-title a {
    color: #444 !important;
}

