// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "video.scss";

@import "~@fortawesome/fontawesome-free/css/all.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}

.line-clamp {
  @for $i from 1 through 4 {
    &-#{$i} {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: $i;
    }
  }
}

.card-img-top {
  max-height: 180px;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
}

.profile-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.jumbotron {
  padding: 5rem 1rem 1rem 1rem;
}

.inactive {
  filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
  pointer-events: none;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}
